footer {
    background-color: rgba(165, 42, 42, 0.98);
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-around;
}

footer p,
footer span {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .2rem;
}